<p id="notice"><%= notice %></p>

<p>
  <strong>Поезд номер:</strong>
  <%= @train.number %>
</p>

<p>
<% if @train.route.present? %>
    Назначен следующий маршрут:
    <%= @train.route.name %>    
<% else %>
    Маршрут не назначен     
<% end %>
</p>
<%= link_to 'Изменить', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
