<p id="notice"><%= notice %></p>

<p>
  <strong>Поезд номер:</strong>
  <%= @train.number %>
</p>

<p>
<% if @train.route.present? %>
    Назначен следующий маршрут:
    <%= @train.route.name %>    
<% else %>
    Маршрут не назначен     
<% end %>
</p>
<% if @train.sort_from_head %>
  <p> <b> Нумерация с головы </b> </p>
<% else %>
  <p> <b> Нумерация с хвоста </b> </p>
<% end %>

<%if @train.cars.empty? %>
  <p> Нет вагонов </p>
<% else %>
  <p>Вагоны </p>
  <% @train.cars.ordered(@train.sort_from_head).each  do |car| %>
    <ul>
      <li> <%= link_to "#{car.number}", car.becomes(Car) %> </li>
    </ul>
  <% end %>
   <% end %>

<p>
  <strong>В поезде:</strong>
  <ul>
    Плацкартные вагоны:
    <%= @train.all_econom_car %>
     <li> Общее количество верхних полок:
    <%= @train.up_places_econom_car %></li>
    <li> Общее количество нижних полок::
    <%= @train.low_places_econom_car %></li>
    </ul>
    <ul>
    Купейные вагоны:
    <%= @train.all_coupe_car %>
    <li> Общее количество верхних полок:
    <%= @train.up_places_coupe_car %></li>
    <li> Общее количество нижних полок::
    <%= @train.low_places_coupe_car %></li>
    </ul> 
   
  
</p>
<%= link_to 'Изменить', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
