<tr>
  <td>
     <div id="route_name_<%= route.id %>">
        <%= route.name %>
     </div>
    <%= render 'form', route: route, hidden: true %>
</td>
  <td><%= link_to 'Показать', [:admin, route] %></td>
  <td><%= link_to 'Редактировать', '', class: 'edit_route', data: { route_id: route.id } %></td>
  <td><%= link_to 'Удалить', [:admin, route], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>