

<h1>Список вагонов</h1>



<table>
  <thead>
    <tr>
      <th>Вагон:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @cars.each do |car| %>
    <tr>
    <td> <%= car.type %> <td>
    <td> <%= car.number %> <td>
    <td><%= link_to 'Показать', [:admin, car.becomes(Car)] %></td>
    <td><%= link_to 'Редактировать', edit_admin_car_path(car) %></td>
    <td><%= link_to 'Удалить', [:admin, car.becomes(Car)], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить вагон', new_admin_car_path %>
