<%= form_for([:admin, @train]) do |f| %>
  <%= render 'common/errors', resource: @train %>

  <div class="field">
    <%= f.label :number, 'Номер поезда' %><br>
    <%= f.text_field :number %>
  </div>
  
   <div class="field">
    <%= f.label "Нумерация с головы" %><br>
    <%= f.check_box :sort_from_head %>
  </div>

  <div class="actions">    
    <%= f.submit "Изменить"%>
  </div>

  <div class="field">
    <%= f.label :route, 'Назначить маршрут поезду:' %><br>
    <%= f.collection_select :route_id, Route.all, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit "#{ @train.new_record? ? 'Создать' : 'Изменить'}" %>
  </div>
<% end %>
