<%= form_for (@ticket) do |f| %>
 
  <%= render 'common/errors', resource: @ticket %>
 
  <p>  
    <%= f.hidden_field :train_id, value: @ticket.train_id %>
    <%= f.hidden_field :first_station_id, value: params[:ticket][:first_station_id] %>
    <%= f.hidden_field :last_station_id, value: params[:ticket][:last_station_id]%>    
  </p>
 <div class="row" >  
  <div class="col-md-4"></div>
  <div class="col-md-4" >
  <p class="text-center">
    <%= f.label :code%><br>
    <%= f.text_field :code , class: 'form-control'  %>
  </p>

  <p class="text-center">
    <%= f.label :full_name_user %><br>
    <%= f.text_field :full_name_user, class: 'form-control' %>
  </p>

  <p class="text-center">
    <%= f.label :passport %><br>
    <%= f.text_field :passport, class: 'form-control' %>
  </p>
  
  <p class="text-center">
    <%= f.submit t('common.buy'), class: 'btn btn-primary' %>
  </p>
  </div>
 </div>
<% end %>