<tr> <br>

  <% if @car.type == "EconomyCar" %> 
      <td> Плацкарт </td><br>
      <td>Количество верхних мест <%= "#{@car.top_places}" %> <br>
      <td>Количество нижних мест <%= "#{@car.bottom_places}" %> <br>
      <td>Количество боковых верхних мест <%= "#{@car.side_top_places}" %> <br>
      <td>Количество боковых нижних мест <%= "#{@car.side_bottom_places}" %> <br>
      <% elsif @car.type == "CoupeCar" %> 
        <td>Купе <br>
        <td>Количество верхних мест <%= "#{@car.top_places}" %> <br>
        <td>Количество нижних мест <%= "#{@car.bottom_places}" %>   <br>   
      <% elsif @car.type == "ComfortCar" %> 
        <td>СВ-вагон<br>
        <td>Количество нижних мест <%= "#{@car.bottom_places}" %> <br>
      <% elsif @car.type == "SeatCar" %> 
        <td>Сидячий вагон<br>
        <td>Количество мест <%= "#{@car.seat_places}" %> <br>
      <% end %>   
</tr>
