<%= form_for @car.becomes(Car) do |f| %>

<%= render 'common/errors', resource: @car %>
 
  <div class="field">
    <%= f.label :type, "Купе" %>
    <%= f.radio_button :type, "CoupeCar" %>
  </div>

  <div class="field">
    <%= f.label :type, "Плацкарт" %>
    <%= f.radio_button :type, "EconomyCar" %>
  </div>
  
  <div class="field">
    <%= f.label :type, "СВ" %>
    <%= f.radio_button :type, "ComfortCar" %>
  </div>
  
  <div class="field">
    <%= f.label :type, "Сидячий вагон" %>
    <%= f.radio_button :type, "SeatCar" %>
  </div>
 
  <div class="field">
    <%= f.label :top_places, 'Количество верхних мест' %><br>
    <%= f.number_field :top_places, min: 0, max: 60 %><br>
  </div>
  
  <div class="field">
    <%= f.label :bottom_places, 'Количество нижних мест' %><br>
    <%= f.number_field :bottom_places, min: 0, max: 60  %><br>
  </div>  
  
  <div class="field">
    <%= f.label :side_top_places, 'Количество боковых верхних мест' %><br>
    <%= f.number_field :side_top_places, min: 0, max: 60 %><br>
  </div> 
  
  <div class="field">
    <%= f.label :side_bottom_places, 'Количество боковых нижних мест' %><br>
    <%= f.number_field :side_bottom_places, min: 0, max: 60 %><br>
  </div>
  
  <div class="field">
    <%= f.label :seat_places, 'Количество сидячих мест' %><br>
    <%= f.number_field :seat_places, min: 0, max: 60  %><br>
  </div> 
  
  <div class="field">
    <%= f.label :number, 'номер' %><br>
    <%= f.text_field :number %>
  </div> 

  <div class="field">
    <%= f.label :train, "Выбрать поезд" %><br>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="actions">
   <%= f.submit "#{ @car.new_record? ? 'Создать' : 'Изменить'}" %>
  </div>
<% end %>
