<%= form_for ([:admin, @ticket]) do |f| %>
 
  <%= render 'common/errors', resource: @ticket %>
  <p>    
    <%= f.hidden_field :train_id, value: @ticket.train_id %>
    <%= f.hidden_field :first_station_id, value: @ticket.first_station_id %>
    <%= f.hidden_field :last_station_id, value: @ticket.last_station_id %>   
    <%= f.hidden_field :user_id, value: @ticket.user_id %> 
  </p>

  <p>
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </p>

  <p>
    <%= f.label :full_name_user%><br>
    <%= f.text_field :full_name_user %>
  </p>

  <p>
    <%= f.label :passport %><br>
    <%= f.text_field :passport %>
  </p>
  
  <p>
    <%= f.submit t('.submit') %>
  </p>
 
<% end %>