
<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th>Номер билета</th>
      <th>Пользователь</th>
      
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.code %></td>
        <td><%= ticket.user.email %></td>
        <td><%= link_to t('common.show'), [:admin, ticket] %></td>
        <td><%= link_to t('common.edit'), edit_admin_ticket_path(ticket) %></td>
        <td><%= link_to t('common.destroy'), [:admin,ticket], method: :delete, data: { confirm: t('common.confirm')} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

