<h2> <%= t('.title') %> </h2>

<p>
  <table>
    <thead>
      <tr>
        <td><%=t('common.user') %></td>
        <td><%=t('common.number')%></td>
        <td><%=t('common.full_name')%></td>
        <td><%=t('common.passport') %></td>
        <td><%=t('common.arrival_station')%></td>
        <td><%=t('common.departure_station') %></td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @ticket.user.email %></td>
        <td><%= @ticket.code %></td>
        <td><%= @ticket.full_name_user %></td>
        <td><%= @ticket.passport %></td>
        <td><%= @ticket.first_station.title %></td>
        <td><%= @ticket.last_station.title %></td>
        
      </tr>
    </tbody>
  </table>
</p>

<%= link_to t('common.edit'), edit_admin_ticket_path(@ticket) %> /
<%= link_to t('common.back'), admin_tickets_path %> /
<%= link_to t('common.main'), welcome_index_path %>