<div class="row">
<h1 class="text-center">Поиск билетов</h1>
<%= form_tag new_search_path, class: 'search_form', method: :get do %>
<div class='col-md-6'>

<%= label_tag t('common.from') %>
<%= select_tag :from, options_from_collection_for_select(RailwayStation.all, 'id', 'title' ), class: "form-control" %>
</div>
<div class='col-md-6'>
<%= label_tag t('common.to') %>
<%= select_tag :to, options_from_collection_for_select(RailwayStation.all, 'id', 'title'), class: "form-control" %>
</div>
<div class='col-md-1'>

<%= submit_tag t('common.search'),  class: 'btn btn-primary' %>
<% end %>
</div>
</div>
<div class="row">
<div class='col-md-6'>
<% if @trains.nil? %>
    <p>Поездов нет</p>
<% else %>
    <% @trains.each do |train| %>
      <tr>
        <td><%= "Поезд № #{train.number}" %></td>
        <td><%= "Время отправления: #{train.route.railway_stations.first.departure(train.route).try(:strftime, "%H:%M")}" %>
        </td>
        <td><%= "Время прибытия: #{train.route.railway_stations.last.arrival(train.route).try(:strftime, "%H:%M")}" %></td>
        <%= link_to t('common.buy'), new_ticket_path(ticket: {
            train_id: train.id,
            first_station_id: params[:from],
            last_station_id: params[:to]}), class: 'btn btn-primary'%>
      </tr>
    <% end %>
    </div>
</div>
<% end %>
